-umpy==1.17.0
absl-py==0.5.0
alabaster==0.7.12
amply==0.1.2
appdirs==1.4.3
ase==3.17.0
asn1crypto==0.24.0
asteval==0.9.14
astor==0.7.1
astroid==2.2.5
atomicwrites==1.3.0
attrs==19.1.0
babel==2.7.0
backcall==0.1.0
bleach==2.1.3
blis==0.7.4
captum==0.3.0
catalogue==1.0.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
click==7.0
cloudpickle==1.2.1
configargparse==1.2.3
configparser==5.0.1
cryptography==2.7
cycler==0.10.0
cymem==2.0.5
cython==0.28.3
dataclasses==0.7
datetime==4.3
datrie==0.8.2
decorator==4.3.0
docker-pycreds==0.4.0
docutils==0.15.2
entrypoints==0.2.3
f90nml==1.0.2
fabio==0.9.0
fastai==2.2.5
fastbook==0.0.16
fastcore==1.3.19
fastprogress==1.0.0
flask==1.0.2
gast==0.2.0
gitdb==4.0.4
gitpython==3.1.1
googledrivedownloader==0.4
gpaw==1.4.0
graphviz==0.13.2
grpcio==1.15.0
h5py==2.10.0
hfda==0.1.1
horovod==0.20.3
html5lib==1.0.1
idna==2.8
imageio==2.5.0
imagesize==1.1.0
importlib-metadata==3.4.0
ipykernel==4.8.2
ipympl==0.3.3
ipython-genutils==0.2.0
ipython==6.4.0
ipywidgets==7.5.1
isodate==0.6.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.12.0
jeepney==0.4
jinja2==2.10
joblib==0.11
json5==0.8.5
jsonschema==3.0.2
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.0
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.0
jupyter==1.0.0
jupyterlab-server==1.0.6
jupyterlab==1.0.9
keras-applications==1.0.6
keras-preprocessing==1.0.5
keras==2.2.4
keyring==19.0.2
kiwisolver==1.0.1
lazy-object-proxy==1.4.1
llvmlite==0.35.0
lmfit==0.9.13
lxml==4.2.1
markdown==3.0.1
markupsafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
metakernel==0.22.1
mistune==0.8.3
more-itertools==7.2.0
mpi4py==3.0.0
mpmath==1.0.0
murmurhash==1.0.5
nbconvert==5.3.1
nbdev==1.1.11
nbformat==4.4.0
networkx==2.3
notebook==5.5.0
numba==0.52.0
numexpr==2.6.9
numpy==1.17.0
numpydoc==0.9.1
octave-kernel==0.30.0
opencv-contrib-python==4.2.0.32
opencv-python==4.2.0.32
packaging==19.1
pandas==0.23.4
pandocfilters==1.4.2
parso==0.2.1
pathtools==0.1.2
pexpect==4.5.0
pickleshare==0.7.4
pillow==8.1.0
pint==0.9
pip==21.0.1
plac==1.1.3
pluggy==0.12.0
ply==3.11
preshed==3.0.5
promise==2.3
prompt-toolkit==1.0.15
protobuf==3.13.0
psutil==5.6.3
psycopg2==2.7.4
ptyprocess==0.5.2
pulp==2.3
py==1.8.0
pybis==1.9.8
pycodestyle==2.5.0
pycparser==2.19
pyfai==0.18.0
pyflakes==2.1.1
pygments==2.2.0
pygraphviz==1.5
pylint==2.3.1
pyparsing==2.3.0
pyqt5-sip==4.19.18
pyqt5==5.12.3
pyqtwebengine==5.12.1
pyroot==0.0.1
pyrsistent==0.15.4
pytest==5.1.1
python-dateutil==2.7.5
python-louvain==0.15
pytz==2018.4
pywavelets==1.0.3
pyyaml==5.1.1
pyzmq==17.0.0
qtawesome==0.6.0
qtconsole==4.3.1
qtpy==1.9.0
ratelimiter==1.2.0.post0
rdflib==5.0.0
requests==2.22.0
rope==0.14.0
scikit-fuzzy==0.4.2
scikit-image==0.15.0
scikit-learn==0.24.0
scipy==1.5.4
secretstorage==3.1.1
send2trash==1.5.0
sentencepiece==0.1.95
sentry-sdk==0.19.2
serpenttools==0.7.1
setuptools-scm==5.0.1
setuptools==40.6.2
shortuuid==1.0.1
silx==0.10.1
simplegeneric==0.8.1
six==1.15.0
smmap==3.0.2
snakemake==5.26.1
snowballstemmer==1.9.0
spacy==2.3.5
spglib==1.14.1.post0
sphinx==2.1.2
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
spyder-kernels==0.5.1
spyder==3.3.6
srsly==1.0.5
subprocess32==3.5.4
tabulate==0.8.3
tensorboard==1.11.0
tensorflow-gpu==1.11.0
tensorflow==1.11.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
texttable==1.6.2
thinc==7.4.5
threadpoolctl==2.1.0
tifffile==2019.7.2
toposort==1.5
torch-cluster==1.5.8
torch-geometric==1.6.3
torch-scatter==2.0.5
torch-sparse==0.6.8
torch-spline-conv==1.2.0
torch==1.7.1
torchvision==0.8.2
tornado==5.0.2
tqdm==4.56.0
traitlets==4.3.2
typed-ast==1.4.0
typing-extensions==3.7.4.3
uncertainties==3.1.1
urllib3==1.25.3
virtualenv==16.4.3
wandb==0.10.12
wasabi==0.8.0
watchdog==0.10.3
wcwidth==0.1.7
webencodings==0.5.1
websockify==0.9.0
werkzeug==0.14.1
wheel==0.32.1
widgetsnbextension==3.5.1
wrapt==1.11.2
wurlitzer==1.0.3
zipp==0.6.0
zope.interface==4.6.0